<h1>Please Sign In</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Your Username">
  <input type="password" name="password" placeholder="Your Password">
  <button type="submit">Sign In</button>
</form>
<a href="/signup">Don't have an account? Sign Up</a>
